	/*
  	Flaticon icon font: Flaticon
  	Creation date: 22/06/2016 15:06
  	*/

@font-face {
  font-family: "Flaticon";
  src: url("./Flaticon.eot");
  src: url("./Flaticon.eot?#iefix") format("embedded-opentype"),
       url("./Flaticon.woff") format("woff"),
       url("./Flaticon.ttf") format("truetype"),
       url("./Flaticon.svg#Flaticon") format("svg");
  font-weight: normal;
  font-style: normal;
}

@media screen and (-webkit-min-device-pixel-ratio:0) {
  @font-face {
    font-family: "Flaticon";
    src: url("./Flaticon.svg#Flaticon") format("svg");
  }
}

[class^="flaticon-"]:before, [class*=" flaticon-"]:before,
[class^="flaticon-"]:after, [class*=" flaticon-"]:after {   
  font-family: Flaticon;
        font-size: 20px;
font-style: normal;
margin-left: 20px;
}

.flaticon-3d-bars-graphic:before { content: "\f100"; }
.flaticon-a-best-test-result:before { content: "\f101"; }
.flaticon-a-plus-best-test-result:before { content: "\f102"; }
.flaticon-abc-book:before { content: "\f103"; }
.flaticon-abc-cubes:before { content: "\f104"; }
.flaticon-abc-education:before { content: "\f105"; }
.flaticon-apple-and-clock:before { content: "\f106"; }
.flaticon-apple-link:before { content: "\f107"; }
.flaticon-apple-of-black-shape:before { content: "\f108"; }
.flaticon-atom:before { content: "\f109"; }
.flaticon-b-student-rating-symbol:before { content: "\f10a"; }
.flaticon-back-to-school:before { content: "\f10b"; }
.flaticon-backpack-and-apple:before { content: "\f10c"; }
.flaticon-ball-for-sports:before { content: "\f10d"; }
.flaticon-bars-chart:before { content: "\f10e"; }
.flaticon-binoculars:before { content: "\f10f"; }
.flaticon-black-briefcase:before { content: "\f110"; }
.flaticon-blackboard:before { content: "\f111"; }
.flaticon-book-and-cd:before { content: "\f112"; }
.flaticon-book-and-clock:before { content: "\f113"; }
.flaticon-book-and-ipad:before { content: "\f114"; }
.flaticon-book-and-magnifier-with-question-sign:before { content: "\f115"; }
.flaticon-book-and-mouse:before { content: "\f116"; }
.flaticon-book-and-pencil:before { content: "\f117"; }
.flaticon-book-education-tool:before { content: "\f118"; }
.flaticon-book-of-black-cover:before { content: "\f119"; }
.flaticon-book-of-dark-cover-with-bookmark-ribbon:before { content: "\f11a"; }
.flaticon-books-and-sand-clock:before { content: "\f11b"; }
.flaticon-books-for-study:before { content: "\f11c"; }
.flaticon-books-stack:before { content: "\f11d"; }
.flaticon-books-stack-for-education:before { content: "\f11e"; }
.flaticon-boy-and-computer:before { content: "\f11f"; }
.flaticon-boy-reading:before { content: "\f120"; }
.flaticon-boy-reading-a-book:before { content: "\f121"; }
.flaticon-briefcase-of-black-shape:before { content: "\f122"; }
.flaticon-briefcase-with-euro-money-sign:before { content: "\f123"; }
.flaticon-briefcase-with-money:before { content: "\f124"; }
.flaticon-briefcases-from-frontal-and-side-view:before { content: "\f125"; }
.flaticon-brush:before { content: "\f126"; }
.flaticon-bus:before { content: "\f127"; }
.flaticon-c-education-qualification:before { content: "\f128"; }
.flaticon-c-test-result-interface-symbol-with-text-lines:before { content: "\f129"; }
.flaticon-calculation-operations-with-numbers:before { content: "\f12a"; }
.flaticon-calculations-operator:before { content: "\f12b"; }
.flaticon-calendar:before { content: "\f12c"; }
.flaticon-certificate-bec:before { content: "\f12d"; }
.flaticon-chart-of-squares:before { content: "\f12e"; }
.flaticon-check-box-checked-and-a-pencil:before { content: "\f12f"; }
.flaticon-chess-piece-and-dice-games-objects:before { content: "\f130"; }
.flaticon-circular-chart:before { content: "\f131"; }
.flaticon-circular-chart-for-education:before { content: "\f132"; }
.flaticon-circular-chart-of-three-quarters:before { content: "\f133"; }
.flaticon-circular-educative-chart-symbol:before { content: "\f134"; }
.flaticon-class:before { content: "\f135"; }
.flaticon-class-group-of-students-and-professor-in-front:before { content: "\f136"; }
.flaticon-color-palette-with-brush-for-art-education:before { content: "\f137"; }
.flaticon-compass:before { content: "\f138"; }
.flaticon-computer-and-earth-spheres:before { content: "\f139"; }
.flaticon-computer-tool-for-education:before { content: "\f13a"; }
.flaticon-computer-with-a-dvd:before { content: "\f13b"; }
.flaticon-computer-with-numbers-around:before { content: "\f13c"; }
.flaticon-computer-with-school-materials:before { content: "\f13d"; }
.flaticon-computer-with-soccer-and-basketball-balls-around:before { content: "\f13e"; }
.flaticon-d-education-test-note-of-qualification:before { content: "\f13f"; }
.flaticon-dice-cube-from-top-view-on-the-face-with-three-dots:before { content: "\f140"; }
.flaticon-diploma:before { content: "\f141"; }
.flaticon-diploma-and-graduate-cap:before { content: "\f142"; }
.flaticon-diploma-certification:before { content: "\f143"; }
.flaticon-diploma-of-horizontal-design:before { content: "\f144"; }
.flaticon-diploma-of-vertical-design:before { content: "\f145"; }
.flaticon-division-mathematical-operator-sign:before { content: "\f146"; }
.flaticon-dots-graphic:before { content: "\f147"; }
.flaticon-e-plus-on-school-test-result:before { content: "\f148"; }
.flaticon-earth-graduation:before { content: "\f149"; }
.flaticon-earth-with-children-ring-around:before { content: "\f14a"; }
.flaticon-ecological-education-symbol:before { content: "\f14b"; }
.flaticon-economy-educational-book:before { content: "\f14c"; }
.flaticon-economy-educative-book:before { content: "\f14d"; }
.flaticon-education-chart:before { content: "\f14e"; }
.flaticon-education-chart-1:before { content: "\f14f"; }
.flaticon-education-chart-2:before { content: "\f150"; }
.flaticon-education-chart-on-screen:before { content: "\f151"; }
.flaticon-education-diploma:before { content: "\f152"; }
.flaticon-education-graphic:before { content: "\f153"; }
.flaticon-education-graphic-1:before { content: "\f154"; }
.flaticon-education-quiz:before { content: "\f155"; }
.flaticon-education-tools-grouped:before { content: "\f156"; }
.flaticon-education-volumetric-pie-graphic:before { content: "\f157"; }
.flaticon-educational-bars-graphic:before { content: "\f158"; }
.flaticon-educational-book:before { content: "\f159"; }
.flaticon-educational-book-1:before { content: "\f15a"; }
.flaticon-educational-book-and-a-letter:before { content: "\f15b"; }
.flaticon-educational-book-with-numbers-and-a-briefcase:before { content: "\f15c"; }
.flaticon-educational-chart:before { content: "\f15d"; }
.flaticon-educational-chart-1:before { content: "\f15e"; }
.flaticon-educational-chart-with-double-line-graphics:before { content: "\f15f"; }
.flaticon-educational-forum-platform:before { content: "\f160"; }
.flaticon-educational-graphic:before { content: "\f161"; }
.flaticon-educative-book-and-a-mouse:before { content: "\f162"; }
.flaticon-educative-chemistry-books-and-a-flask-on-top:before { content: "\f163"; }
.flaticon-educator-with-eyeglasses:before { content: "\f164"; }
.flaticon-energy-and-mass-formula-on-monitor-screen:before { content: "\f165"; }
.flaticon-eyeglasses:before { content: "\f166"; }
.flaticon-feather-and-ink:before { content: "\f167"; }
.flaticon-feather-outline:before { content: "\f168"; }
.flaticon-female-graduate:before { content: "\f169"; }
.flaticon-female-professor-with-a-microphone:before { content: "\f16a"; }
.flaticon-female-professor-with-board:before { content: "\f16b"; }
.flaticon-female-professor-with-clipboard-with-earth-planet-image:before { content: "\f16c"; }
.flaticon-female-teacher-reading-a-book:before { content: "\f16d"; }
.flaticon-geography-book:before { content: "\f16e"; }
.flaticon-girl-reading:before { content: "\f16f"; }
.flaticon-girl-working-on-computer:before { content: "\f170"; }
.flaticon-graduate:before { content: "\f171"; }
.flaticon-graduate-1:before { content: "\f172"; }
.flaticon-graduate-cap-on-a-paper-sheet:before { content: "\f173"; }
.flaticon-graduate-plane:before { content: "\f174"; }
.flaticon-graduate-showing-his-diploma-and-his-cap:before { content: "\f175"; }
.flaticon-graduate-woman-with-cap-and-diploma-in-hands:before { content: "\f176"; }
.flaticon-graduates:before { content: "\f177"; }
.flaticon-graduates-group-throwing-their-graduation-caps-celebrating:before { content: "\f178"; }
.flaticon-graduation-cap:before { content: "\f179"; }
.flaticon-graduation-cap-outline:before { content: "\f17a"; }
.flaticon-graduation-cap-silhouette-in-a-square:before { content: "\f17b"; }
.flaticon-graduation-owl:before { content: "\f17c"; }
.flaticon-graphic-for-education:before { content: "\f17d"; }
.flaticon-graphic-with-three-arrows:before { content: "\f17e"; }
.flaticon-group-of-female-students-and-their-teacher:before { content: "\f17f"; }
.flaticon-group-of-males:before { content: "\f180"; }
.flaticon-hand-pointing-on-a-note:before { content: "\f181"; }
.flaticon-hand-pointing-text-paper:before { content: "\f182"; }
.flaticon-hand-touching-ipad-screen:before { content: "\f183"; }
.flaticon-hands-salutation-of-two-males:before { content: "\f184"; }
.flaticon-happy-student-jumping-to-celebrate-for-finishing-classes:before { content: "\f185"; }
.flaticon-head-with-games:before { content: "\f186"; }
.flaticon-history:before { content: "\f187"; }
.flaticon-history-book-for-education:before { content: "\f188"; }
.flaticon-history-symbol-of-antique-building:before { content: "\f189"; }
.flaticon-horizontal-bars-graphic-for-education:before { content: "\f18a"; }
.flaticon-i-pad-with-a-hand-touching-screen:before { content: "\f18b"; }
.flaticon-infographic:before { content: "\f18c"; }
.flaticon-ink-bottle:before { content: "\f18d"; }
.flaticon-ipad:before { content: "\f18e"; }
.flaticon-ipad-with-hand-on-touch-screen:before { content: "\f18f"; }
.flaticon-jump-rope:before { content: "\f190"; }
.flaticon-junk-food-brunch-of-burger-and-soda:before { content: "\f191"; }
.flaticon-kids-couple:before { content: "\f192"; }
.flaticon-kindergarden-children-and-teacher:before { content: "\f193"; }
.flaticon-lamp-of-desk:before { content: "\f194"; }
.flaticon-laptop-with-antique-historical-building-on-screen:before { content: "\f195"; }
.flaticon-laptop-with-books-on-screen:before { content: "\f196"; }
.flaticon-laptop-with-down-arrows-on-screen:before { content: "\f197"; }
.flaticon-laptop-with-graphics-on-screen:before { content: "\f198"; }
.flaticon-laptop-with-puzzle-piece-shape-on-screen:before { content: "\f199"; }
.flaticon-learning-abc:before { content: "\f19a"; }
.flaticon-letter-in-an-envelope:before { content: "\f19b"; }
.flaticon-letters-and-numbers-education:before { content: "\f19c"; }
.flaticon-level-a1-file:before { content: "\f19d"; }
.flaticon-librarian-with-books-on-a-cart:before { content: "\f19e"; }
.flaticon-library:before { content: "\f19f"; }
.flaticon-library-full-of-books:before { content: "\f1a0"; }
.flaticon-library-on-finance-section:before { content: "\f1a1"; }
.flaticon-library-with-books:before { content: "\f1a2"; }
.flaticon-light-brain-education-symbol:before { content: "\f1a3"; }
.flaticon-line-graphic-for-education-with-materials-down-the-arrow:before { content: "\f1a4"; }
.flaticon-loser-sitting-resigned-silhouette:before { content: "\f1a5"; }
.flaticon-man-and-woman-graduates-couple:before { content: "\f1a6"; }
.flaticon-man-asking-to-other-about-an-educational-book:before { content: "\f1a7"; }
.flaticon-man-drinking-hot-coffee:before { content: "\f1a8"; }
.flaticon-man-giving-a-lecture-for-circular-auditory:before { content: "\f1a9"; }
.flaticon-man-reading:before { content: "\f1aa"; }
.flaticon-man-with-a-clock:before { content: "\f1ab"; }
.flaticon-map-of-geography-class-hanging-of-a-nail:before { content: "\f1ac"; }
.flaticon-mathematical-book:before { content: "\f1ad"; }
.flaticon-mathematics-book-and-calculator:before { content: "\f1ae"; }
.flaticon-maths-whiteboard:before { content: "\f1af"; }
.flaticon-medal-with-number-one:before { content: "\f1b0"; }
.flaticon-musical-notation-of-music-class:before { content: "\f1b1"; }
.flaticon-musical-note-symbol:before { content: "\f1b2"; }
.flaticon-old-clock-of-birds-house-shape:before { content: "\f1b3"; }
.flaticon-open-book-and-earth:before { content: "\f1b4"; }
.flaticon-open-book-with-planetary-grid:before { content: "\f1b5"; }
.flaticon-open-class-door:before { content: "\f1b6"; }
.flaticon-open-door-and-a-student-on-stairs:before { content: "\f1b7"; }
.flaticon-open-laptop-with-an-apple:before { content: "\f1b8"; }
.flaticon-opened-book-from-bottom-view:before { content: "\f1b9"; }
.flaticon-pair-of-compasses-and-ruler:before { content: "\f1ba"; }
.flaticon-paper-pencil-and-calculator:before { content: "\f1bb"; }
.flaticon-paper-sheet-with-abc-letters:before { content: "\f1bc"; }
.flaticon-paper-sheets-for-test-and-a-clock-to-control-time:before { content: "\f1bd"; }
.flaticon-paper-with-text:before { content: "\f1be"; }
.flaticon-paper-with-text-1:before { content: "\f1bf"; }
.flaticon-pdf-on-monitor-screen:before { content: "\f1c0"; }
.flaticon-pen:before { content: "\f1c1"; }
.flaticon-pencil-and-sharpener:before { content: "\f1c2"; }
.flaticon-people-connected:before { content: "\f1c3"; }
.flaticon-person-and-educational-chart:before { content: "\f1c4"; }
.flaticon-person-appearance:before { content: "\f1c5"; }
.flaticon-person-reading:before { content: "\f1c6"; }
.flaticon-pet-certificate:before { content: "\f1c7"; }
.flaticon-photo-of-a-woman-with-eyeglasses:before { content: "\f1c8"; }
.flaticon-pie-graphic-with-one-quarter-part-and-other-of-three-quarters:before { content: "\f1c9"; }
.flaticon-printed-school-paper:before { content: "\f1ca"; }
.flaticon-professor:before { content: "\f1cb"; }
.flaticon-professor-in-history-class-pointing-year-1874-on-whiteboard:before { content: "\f1cc"; }
.flaticon-professor-lecture-about-graduation:before { content: "\f1cd"; }
.flaticon-professor-sitting-on-table:before { content: "\f1ce"; }
.flaticon-professor-walking-in-the-city:before { content: "\f1cf"; }
.flaticon-professor-walking-into-the-class:before { content: "\f1d0"; }
.flaticon-professor-with-eyeglasses-and-beard:before { content: "\f1d1"; }
.flaticon-professor-with-eyeglasses-and-curled-hair:before { content: "\f1d2"; }
.flaticon-professor-with-speaker-talking-to-the-students:before { content: "\f1d3"; }
.flaticon-pyramid-chart:before { content: "\f1d4"; }
.flaticon-questions-about-abecedary:before { content: "\f1d5"; }
.flaticon-reading-and-writing-a-book-with-ink-and-a-feather:before { content: "\f1d6"; }
.flaticon-ruler-in-diagonal-position:before { content: "\f1d7"; }
.flaticon-sand-clock:before { content: "\f1d8"; }
.flaticon-school-arrow-signal:before { content: "\f1d9"; }
.flaticon-school-building:before { content: "\f1da"; }
.flaticon-school-class-open-door-and-students:before { content: "\f1db"; }
.flaticon-school-group-with-one-female-student-talking-in-front-of-the-audience:before { content: "\f1dc"; }
.flaticon-school-punishment:before { content: "\f1dd"; }
.flaticon-school-signal-and-children:before { content: "\f1de"; }
.flaticon-school-student-reading-standing:before { content: "\f1df"; }
.flaticon-school-table-with-books-and-an-apple-and-the-portfolio-of-the-teacher-down:before { content: "\f1e0"; }
.flaticon-school-table-with-opened-book-ink-bottle-and-feather-pen-to-write:before { content: "\f1e1"; }
.flaticon-scissors-of-modern-design:before { content: "\f1e2"; }
.flaticon-screen-with-abc:before { content: "\f1e3"; }
.flaticon-screen-with-text:before { content: "\f1e4"; }
.flaticon-shopping-cart-with-product-inside:before { content: "\f1e5"; }
.flaticon-slideshow-presentation:before { content: "\f1e6"; }
.flaticon-soccer-young-player-from-side-view:before { content: "\f1e7"; }
.flaticon-sportive-ball:before { content: "\f1e8"; }
.flaticon-sports-balls:before { content: "\f1e9"; }
.flaticon-square-root-sign:before { content: "\f1ea"; }
.flaticon-stairs-of-school-building:before { content: "\f1eb"; }
.flaticon-student-asking-for-pardon-of-the-professor:before { content: "\f1ec"; }
.flaticon-student-boy:before { content: "\f1ed"; }
.flaticon-student-eating-an-apple-at-class-door:before { content: "\f1ee"; }
.flaticon-student-going-up-on-arrow-stairs:before { content: "\f1ef"; }
.flaticon-student-in-class:before { content: "\f1f0"; }
.flaticon-student-in-class-1:before { content: "\f1f1"; }
.flaticon-student-in-class-rising-one-arm:before { content: "\f1f2"; }
.flaticon-student-in-class-sitting-on-a-chair-at-his-desk:before { content: "\f1f3"; }
.flaticon-student-in-library-searching-for-a-science-book-to-study:before { content: "\f1f4"; }
.flaticon-student-making-a-question-in-class:before { content: "\f1f5"; }
.flaticon-student-reading:before { content: "\f1f6"; }
.flaticon-student-reading-a-book-on-teacher-site:before { content: "\f1f7"; }
.flaticon-student-reading-at-class-door:before { content: "\f1f8"; }
.flaticon-student-reading-on-a-desk:before { content: "\f1f9"; }
.flaticon-student-sleeping-in-class:before { content: "\f1fa"; }
.flaticon-student-sleeping-in-class-1:before { content: "\f1fb"; }
.flaticon-student-standing-with-books-stack:before { content: "\f1fc"; }
.flaticon-student-thinking:before { content: "\f1fd"; }
.flaticon-student-travelling-by-bus:before { content: "\f1fe"; }
.flaticon-student-walking-with-a-bag:before { content: "\f1ff"; }
.flaticon-student-with-an-idea-on-mind-rising-her-arm-to-share-it:before { content: "\f200"; }
.flaticon-student-with-backpack-from-side-view:before { content: "\f201"; }
.flaticon-students-couple-of-a-boy-and-a-girl:before { content: "\f202"; }
.flaticon-students-group:before { content: "\f203"; }
.flaticon-students-group-with-one-talking:before { content: "\f204"; }
.flaticon-students-talking-on-a-table-with-a-computer:before { content: "\f205"; }
.flaticon-teacher:before { content: "\f206"; }
.flaticon-teacher-and-open-class-door:before { content: "\f207"; }
.flaticon-teacher-asking-a-student-about-bad-test-result:before { content: "\f208"; }
.flaticon-teacher-on-biology-class:before { content: "\f209"; }
.flaticon-teacher-printing-material-for-class:before { content: "\f20a"; }
.flaticon-teacher-reading-sitting-on-a-chair:before { content: "\f20b"; }
.flaticon-teacher-showing-on-whiteboard:before { content: "\f20c"; }
.flaticon-teacher-sitting-behind-her-school-class-desk-teaching-physics-formulas:before { content: "\f20d"; }
.flaticon-teacher-sitting-on-a-chair-reading-for-students-children-sitting-on-the-floor-in-front-of-him:before { content: "\f20e"; }
.flaticon-teacher-teaching-grammar-class-on-a-whiteboard:before { content: "\f20f"; }
.flaticon-teacher-walking-with-briefcase-in-hand:before { content: "\f210"; }
.flaticon-teacher-walking-with-his-suitcase:before { content: "\f211"; }
.flaticon-teacher-with-eyeglasses-behind-her-desk:before { content: "\f212"; }
.flaticon-teachers-group-walking-with-portfolios:before { content: "\f213"; }
.flaticon-telescope:before { content: "\f214"; }
.flaticon-test-result:before { content: "\f215"; }
.flaticon-test-tube-for-science-education:before { content: "\f216"; }
.flaticon-three-computers-educational-network-symbol:before { content: "\f217"; }
.flaticon-trinity-symbol:before { content: "\f218"; }
.flaticon-trophy-cup-silhouette:before { content: "\f219"; }
.flaticon-two-man-walking-one-talking-and-the-other-with-a-briefcase:before { content: "\f21a"; }
.flaticon-two-pencils:before { content: "\f21b"; }
.flaticon-two-puzzle-pieces:before { content: "\f21c"; }
.flaticon-two-students-reading-books-with-right-arrows:before { content: "\f21d"; }
.flaticon-whiteboard:before { content: "\f21e"; }
.flaticon-whiteboard-for-school-class:before { content: "\f21f"; }
.flaticon-winner-jump:before { content: "\f220"; }
.flaticon-winner-on-podium-with-trophy:before { content: "\f221"; }
.flaticon-winner-student-with-competition-trophy-jumping-of-happiness:before { content: "\f222"; }
.flaticon-winner-with-medal-number-one:before { content: "\f223"; }
.flaticon-woman-on-lecture:before { content: "\f224"; }
.flaticon-woman-with-girl:before { content: "\f225"; }
.flaticon-writing-with-a-feather-on-a-book:before { content: "\f226"; }
.flaticon-zoom-interface-symbol-of-text-paper-with-a-magnifier-glass:before { content: "\f227"; }